<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!searching">THC Podcasts</ion-title>
    <ion-searchbar *ngIf="searching"
      [(ngModel)]="searchTerm" 
      (ionInput)="SetFilteredPodcasts()"
      [showCancelButton]="shouldShowCancel"
      (ion-cancel)="onCancel($event)">  
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="Search()">
        <ion-icon name="search" end></ion-icon>
      </button>
      <button *ngIf="!searching" ion-button (click)="SortItems()">
        <ion-icon name="funnel" end></ion-icon>
      </button>
      <button *ngIf="!searching" ion-button (click)="ShowActionSheet()">
        <ion-icon name="more" end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="ForceReload($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="checking for new podcasts...">
    </ion-refresher-content>
  </ion-refresher>

  <label text-center padding style="position: absolute; top: 40%; color: grey;" *ngIf="!rssDataArray.podcasts" >
    no podcasts found...pull down to refresh
  </label>
  
  <div *ngIf="rssDataArray">
    <ion-list *ngIf="!searching">
      <ion-item *ngFor="let podcast of rssDataArray.podcasts" text-wrap>
        <ion-thumbnail item-start>
          <img src="assets/imgs/Original_Logo_iTunes3.jpg">
        </ion-thumbnail>
        <h2>
          {{ReFormat(podcast.title, 1)}}
        </h2>
        <p>{{ReFormat(podcast.title, 0)}}</p>
        <small>{{podcast.pubDate | slice:5:7}}/{{podcast.pubDate | slice:8:10}}/{{podcast.pubDate | slice:0:4}}</small>
        <button (click)="itemTapped($event, podcast)" ion-button clear item-end color="green">View</button>
      </ion-item>
    </ion-list> 

    <ion-list *ngIf="searching">
      <ion-item *ngFor="let podcast of searchResults" text-wrap>
        <ion-thumbnail item-start>
          <img src="assets/imgs/Original_Logo_iTunes3.jpg">
        </ion-thumbnail>
        <h2>
          {{ReFormat(podcast.title, 1)}}
        </h2>
        <p>{{ReFormat(podcast.title, 0)}}</p>
        <small>{{podcast.pubDate | slice:5:7}}/{{podcast.pubDate | slice:8:10}}/{{podcast.pubDate | slice:0:4}}</small>
        <button (click)="itemTapped($event, podcast)" ion-button clear item-end color="green">View</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

