<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>THC Podcasts</ion-title>
    <ion-searchbar *ngIf="searching"
      [(ngModel)]="searchInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="SearchFor($event)"
      (ion-cancel)="onCancel($event)">  
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="seaching = true;">
        <ion-icon name="search" end></ion-icon>
      </button>
      <button ion-button>
        <ion-icon name="funnel" end></ion-icon>
      </button>
      <button ion-button (click)="ShowActionSheet()">
        <ion-icon name="more" end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="card-background-page">
  <ion-refresher (ionRefresh)="ForceReload($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="checking for new podcasts...">
    </ion-refresher-content>
  </ion-refresher>
  
  <div *ngIf="rssDataArray">
    <ion-list>
      <ion-item *ngFor="let podcast of rssDataArray.podcasts" text-wrap>
        <ion-thumbnail item-start>
          <img src="assets/imgs/Original_Logo_iTunes3.jpg">
        </ion-thumbnail>
        <h2>
          {{ReFormat(podcast.title, 1)}}
        </h2>
        <p>{{ReFormat(podcast.title, 0)}}</p>
        <small>{{podcast.pubDate | slice:5:7}}/{{podcast.pubDate | slice:8:10}}/{{podcast.pubDate | slice:0:4}}</small>
        <button (click)="itemTapped($event, podcast)" ion-button clear item-end color="green">View</button>
      </ion-item>
    </ion-list> 
  </div>
</ion-content>

