page-home {
	font-family: "THC" !important;
	font-weight: 400 !important;

.card-background-page {

	.tinted { opacity: 0.4; }

  ion-card {
    position: relative;
    text-align: center;
    background-color: black;
  }

  .card-title {
    position: absolute;
    top: 10%;
    font-size: 2.2em;
    width: 100%;
    font-weight: bold;
    color: #1dc47c;

  }

  .card-subtitle {
    font-size: 1.5em;
    position: absolute;
    top: 45%;
    width: 100%;
    color: #fff;
  }

  .card-date {
    font-size: 0.8em;
    position: absolute;
    top: 5%;
    left: 5%;
    color: #fff;
  }

  .playbtn {
  	position: absolute;
    bottom: 5%;
    right: 5%;
  }

  .downloadbtn {
    position: absolute;
    bottom: 5%;
    left: 5%;
  }

  .favbtn {
    position: absolute;
    top: 0%;
    right: 0%;
  }

}
}


