<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favorites</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon (click)="Search()" name="search" end></ion-icon>
      </button>
      <button ion-button>
        <ion-icon (click)="Sort()" name="funnel" end></ion-icon>
      </button>
      <button ion-button>
        <ion-icon (click)="More()" name="more" end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <label padding style="position: absolute; top: 40%; color: grey;" *ngIf="!hasFavs" text-center>
    no favorites found...try adding a podcast from the home page!
  </label>
  <ion-list *ngIf="favPodcasts">
    <ion-item *ngFor="let podcast of favPodcasts" text-wrap>
      <ion-thumbnail item-start>
        <img src="assets/imgs/Original_Logo_iTunes3.jpg">
      </ion-thumbnail>
      <h2>
        {{ReFormat(podcast.title, 1)}}
      </h2>
      <p>{{ReFormat(podcast.title, 0)}}</p>
      <small>{{podcast.pubDate | slice:5:7}}/{{podcast.pubDate | slice:8:10}}/{{podcast.pubDate | slice:0:4}}</small>
      <button (click)="itemTapped($event, podcast)" ion-button clear item-end color="green">View</button>
    </ion-item>
  </ion-list>
</ion-content>
