<ion-header>

  <ion-navbar>
    <ion-title>{{ReFormat(podcast.title, 0)}}</ion-title>
    <ion-buttons end>
    <button (click)="addToFav(podcast)" round clear ion-button icon-only class="favbtn">
      <ion-icon *ngIf="podcast.userData.favorite" name='heart' color="danger" is-active="true"></ion-icon>
      <ion-icon *ngIf="!podcast.userData.favorite" name='heart' color="light" is-active="false"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">
	<ion-card>
      <img src="{{podcast.coverImage}}" class="tinted">

      <p class="card-date">
        {{podcast.pubDate | slice:5:7}}/{{podcast.pubDate | slice:8:10}}/{{podcast.pubDate | slice:0:4}}
      </p>

      <h5 class="card-subtitle">
        {{ReFormat(podcast.title, 1)}}
      </h5>

      <button style="display: none;"ion-button color="light" round class="downloadbtn" (click)="Download(podcast.mp3, podcast.pubDate)">
        <ion-icon name='md-download' is-active="false"></ion-icon>
      </button>
    </ion-card>

    <ion-fab bottom right>
      <button *ngIf="!isPlaying" ion-fab color="green" (click)="PlayPodcast(podcast, ReFormat(podcast.title, 1))">
        <ion-icon name="md-play"></ion-icon>
      </button>
      <button *ngIf="isPlaying" ion-fab color="danger" (click)="StopPodcast()">
        <ion-icon name="square"></ion-icon>
      </button>
    </ion-fab>
      
    <ion-item no-lines>
    	<div item-left>Podcast Length {{podcast.duration | slice:0:4}}</div>
    </ion-item>
    <ion-item no-lines text-wrap inset><p class="newLines">{{ReFormat(podcast.description, 2)}}</p></ion-item>
</ion-content>
